extends base
 
block content     
    page-wrapper
        if user  
        -var client = user.role == 'user'
        -var counsellor = user.role == 'counsellor'
        -var consultant = user.role == 'consultant'
        -var admin  = user.role == 'admin'
        -var staff = user.duty == 'staff'
        .main-content
            .profile-content.section.grid 
                form#userDateForm.form.form-user-data   
                    .profile-card--header
                        h2 My Account Details
                    .profile-card
                        .user-photo 
                            img.form-user-photo(src=`/img/users/${user.photo}`, alt="")
                            label(for='myPhoto') Choose Photo 
                            input.form-upload(type="file", accept='image/*', id='myPhoto', name='myPhoto' value=`${user.photo}`)
                        .label.acc-input.flex  
                            label(for="salutation") Salutation 
                            select#salutation(name="salutation")
                                option() #{user.salutation}  
                                option(value="Mr.") Mr.
                                option(value="Ms.") Ms.
                                option(value="Miss") Miss 
                                option(value="Mrs.") Mrs.
                                option(value="Dr.") Dr.
                                option(value="Prof.") Prof. 
                        .label.acc-input.flex  
                            label(for="myFirstName") First name 
                            input#myFirstName(type="text" required value= `${user.firstName}` )
                        .label.acc-input.flex 
                            label(for="myLastName") Last name 
                            input#myLastName(type="text" required value= `${user.lastName}` )
                        .label.acc-input.flex  
                            label(for="myEmail") Email 
                            input#myEmail(type="text" required value=`${user.email}`)
                        .label.acc-input.flex  
                            label(for="myPhone") Phone  
                            input#myPhone(type="text" required value=`${user.phone}`)
                        .label.acc-input.flex  
                            label(for="myLanguages") Languages spoken 
                            input#myLanguages(type="text" required value=`${user.languages}`)
                        .label.acc--input.flex 
                            label(for="myEducation") Academic awards
                            .label.label-content 
                                textarea#myEducation() #{user.education}
                        .label.acc--input.flex 
                            label(for="myExperience") Work experience
                            .label.label-content 
                                textarea#myExperience() #{user.experience}
                        .label.acc--input.flex 
                            label(for="myProfile") My profile
                            .label.label-content 
                                textarea#myProfile() #{user.profile}
                        .label.acc-input.flex  
                            label(for="myLanguages") Location  
                            input#myLocation(type="text" required value=`${user.location}`)
                        
                        .btn.profile-btn 
                            button.data-change-btn Update Data
                
                div   
                    form#userPasswordForm.form-user-password
                            .profile-card--header 
                                h2 Change password          
                            .profile-card 
                                .label 
                                    label(for="passwordCurrent") Current Password 
                                    input#myPasswordCurrent(type="password" required ) 
                                .label 
                                    label(for="passwordNew") New Password 
                                    input#myPasswordNew(type="password" required)
                                .label 
                                    label(for="passwordConfirm") Confirm Password 
                                    input#myPasswordConfirm(type="password" required ) 
                                .btn.profile-btn 
                                    button.password-change-btn Change Password
                
    
