doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')

      title MindAnchor | #{title}
  
  body
  include _headerAdmin
  main.main.main-admin  
    .page-wrapper.page-wrapper--users 
        .users-container.users-container--clients
          h2 All Application Clients
          each client in clients 
            .container-user.container-user--client.flex 
              .user-image.flex  
                span #{client.firstName.slice(0, 1)}
                span #{client.lastName.slice(0, 1)}
              .user-desc.user-desc--client 
                .name.name-client  
                  h4 #{client.firstName} #{client.lastName}
                .phone 
                  p #{client.phone} #{client.email}


        




script(src='/js/bundle.js')
