extends base

block content
  main.main
    section.section.section-schedules
      .schedules-wrapper.c2-shadow 
        .sch-headers.grid.grid-5  
          h3 Sender 
          h3 Meeting date  
          h3 Meeting time 
          h3 Meeting type 
          h3 Sent at
        if (schedules.length === 0)
          .empty-note.flex.flex-c
            <i class='bx bx-folder-open'></i> 
            p You have no assigned appointments


        each schedule in schedules 
          
          a(href=`/myassignments/${schedule.id}` class='sch-details-link') 
            .sch-content.grid.grid-5 
              .sch-field 
                p 
                  span #{schedule.sender.firstName}
                  span 
                  span #{schedule.sender.lastName}

              .sch-field 
                p #{schedule.schDate}
              .sch-field 
                p #{schedule.schTime}
              .sch-field 
                p #{schedule.schType}
              .sch-field 
                p #{schedule.createdAt}
              //- .sch-field.sch-field--status
              //-   if (!schedule.complete)
              //-     p.pending Pending 
              //-   else 
              //-     p.completed Completed 
            if (schedules.length === 0)
              



