extends base

block content
  main.main
    section.section.section-schedules.section-schedules--client
      .schedules-wrapper.c2-shadow 
        .sch-headers.sch-content--my.grid   
          h3 Meeting date  
          h3 Meeting time 
          h3 Meeting type 
          h3 Sent at

        each schedule in schedules 
          a(href=`/myappointments/${schedule.id}`) 
            .sch-content.sch-content--my.grid
              .sch-field 
                p #{schedule.schDate}
              .sch-field 
                p #{schedule.schTime}
              .sch-field 
                p #{schedule.schType}
              .sch-field 
                p #{schedule.createdAt}
              //- .sch-field.sch-field--status
              //-   if (!schedule.complete)
              //-     p.pending Pending 
              //-   else 
              //-     p.completed Completed 
             



