extends base

block content
  main.main
    section.section.section--1.section-home--1.flex  
      .section-content-wrapper 
        .section-heading 
          h2 Visit with a Mental health Expert 24/7
          p Get online mental health services, consulations and one-on-one appointments at anytime.
        .section-content 
          button.btn.connect-btn Get Help
        .section-cover
    section.section.section--2.section-experts 
      .section-content.gid.grid-2  
        .experts 
          each therapist in therapists 
            .expert 
              img(src=`img/users/${therapist.photo}`, alt="")
              .expert-desc
                .expert-profile  
                  h4.expert-name #{therapist.salutation} #{therapist.firstName} #{therapist.lastName}
                  p.title Counsellor
                .expert-exp 
                  p He has 10 years experience in mariage counselling 
                  p Makerere University  
                .btn.home-profileBtn.profileViewerBtn.flex(data-userid=`${therapist._id}`) 
                  span Therapist profile 
                  span <i class='bx bx-right-arrow-alt' ></i>
        aside.front-app-section.flex.flex-c  
          h2 Talk to a Therapist Today
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique eum perferendis dolor fugit amet.
          .btns.flex  
            button.btn.std-btn.std-btn--bl Make Appointment
            button.btn.std-btn.std-btn--wht See All Therapists

      
    section.section.section-howto.section--3 
      .section-heading 
        h2 How it works 
      .section-content.section-content--howto 
        .c-box
          .c-box--img 
            img(src="img/step1-3.svg", alt="") 
          .c-box--content 
            h3  Sign up or Sign in
            p Using your Smart phone, computer or tablet 
        .c-box
          .c-box--img 
            img(src="img/booking.png", alt="") 
          .c-box--content 
            h3  Select a service
            p Choose a service and briefly describe your condition 
        .c-box
          .c-box--img 
            img(src="img/consultation.png", alt="") 
          .c-box--content 
            h3  Meet with the expert 
            p We schedule virtual and physical meeting depending on what you prefer 

    section.section.section-benefits.section--4 
      .section-heading.flex.flex-c 
        h2 The benefits of choosing us 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem consectetur possimus praesentium obcaecati. 
      .section-content.section-content--howto 
        .c-box
          .c-box--img 
            img(src="img/icons/hand.png", alt="") 
          .c-box--content 
            h3 Easy to access 
            p Mental health services available both remotely and in-person 
        .c-box
          .c-box--img 
            img(src="img/icons/24-7.png", alt="") 
          .c-box--content 
            h3 All time access  
            p Using your Smart phone, computer or tablet 
        .c-box
          .c-box--img 
            img(src="img/icons/hidden.png", alt="") 
          .c-box--content 
            h3  Anonymity 
            p No need to reveal one’s identity in order to address the stereotypes concern 
        .c-box
          .c-box--img 
            img(src="img/icons/convenient.png", alt="") 
          .c-box--content 
            h3  Convenient  
            p Mental health services made affordable through the power of crowdsourcing
             
    .section.testimonials-section 
      .section-content.section-content--testimonials 
        .section-intro.flex 
          .section-intro-content 
            h2 Clients share their testimonies  
            p Our customers inspire us! See how organizations are using our platform to connect, communicate, and get more done together.
            .arrows-container 
              .arrow.arrow-left 
              .arrow.arrow-right 
          div   
        .section-main-content.flex  
          .testimonials-container.flex   
            .testimonial.flex 
              .cover.flex   
                img(src="./img/users/test1.jpg", alt="")
              .testimonial-text 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum maxime distinctio dolorum nihil assumenda fugit corporis expedita magni nobis.
                p.review-name Mr. Ssentongo Conrad  
            .testimonial.flex
              .cover.flex   
                img(src="./img/users/test2.jpg", alt="")
              .testimonial-text 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum maxime distinctio dolorum nihil assumenda fugit corporis expedita magni nobis.
                p.review-name Ms. Apio Crodinah 
            .testimonial.flex
              .cover.flex   
                img(src="./img/users/test2.jpg", alt="")
              .testimonial-text 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto ipsum maxime distinctio dolorum nihil assumenda fugit corporis expedita magni nobis.
                p.review-name Ms. Emily Byarugaba 








