extends base

block content
  main.main
    section.section.section-schedules
      .noShow 
        input(type="text" value=`${schedule.id}` id='schId')
      .schedule-details.c2-shadow.midWd
        .sch-details.grid.grid-2  
          .sender-info.card-details.flex   
            .sender-info--heading.card-details--header
              h2 Sender info
            .sender-info--content.card-content.card-content--sender.flex   
              .sender-info--field 
                .userImg
                  img(src=`../img/users/${sender.photo}`, alt="")
              .sender-info--field 
                h3 Full name 
                p 
                  span #{sender.firstName} 
                  span 
                  span #{sender.lastName}
              .sender-info--field 
                h3 Email 
                p #{sender.email}
              .sender-info--field 
                h3 Phone number 
                p #{sender.phone}
          .sch-info.card-details.flex 
            .sch-info--heading.card-details--header 
              h2 Appointment details 
            .sch-info--content.card-content.card-content--sch 
              .sch-info--field.grid  
                h3 <i class='bx bx-check-circle' ></i> Service 
                p #{schedule.service}
              .sch-info--field.grid  
                h3 <i class='bx bx-calendar' ></i> Date 
                p #{schedule.schDate}
              .sch-info--field.grid  
                h3 <i class='bx bx-time-five' ></i> Time 
                p #{schedule.schTime}
              .sch-info--field.grid  
                h3 <i class='bx bxs-badge-check'></i> Meeting type  
                p #{schedule.schType}
              .sch-info--field.grid  
                h3 <i class='bx bx-phone' ></i> Follow up phone
                p #{schedule.schPhone}
              .sch-info--field.grid  
                h3 <i class='bx bx-download' ></i> Sent 
                p #{schedule.createdAt}
              if !schedule.complete 
                button.btn.btn-sch.btn-sch--complete.flex <i class='bx bx-check-double'></i> Mark As Completed
              else 
                button(class='btn btn-sch' disabled) Completed



                       



