doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')

      title Unitrustcare | #{title}
  
  body
  include _headerAdmin
  main.main  
    .page-wrapper.page-wrapper--usersStaff 
        .users-container.users-container--staff
          .users-container--header.flex  
            h2 All Staff
            button.btn.btn-addStaff Add Staff 
          each member in staffs 
            .container-user.container-user--staff.flex 
              .user-image.user-image--staff 
                img(src=`/img/users/${member.photo}`, alt="")
              .user-desc.user-desc--staff
                .name.name-staff
                  h4 #{member.firstName} #{member.lastName}
                .mail.mail-staff 
                  p #{member.email} 
                .role
                  p #{member.role} 
              .user-action 
                button(data-userid=`${member._id}` class='btn profileViewerBtn profileViewerBtn-staff flex')
                  <i class='bx bxs-user-detail'></i> View


        




script(src='/js/bundle.js')
